<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>logged in as {{ request.user.username }}</p>
<p>on {{ request.get_host }}</p>

<iframe src="http://iframe.test:8000/include" sandbox="allow-scripts allow-same-origin"/>
</body>
</html>