<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'http://api.iframe.test:8000/api', true);
        xhr.withCredentials = true;
        xhr.onload = function (response) {
            var data = JSON.parse(response.currentTarget.response);
            document.getElementById("root").textContent = data.user;
            console.log(response);
            // Request finished. Do processing here.
        };
        xhr.send(null);


    </script>
</head>
<body>
<p>{% if request.user.is_authenticated %}page logged in as {{ request.user.username }}{% else %}not logged in{% endif %}</p>
<p>on {{ request.get_host }}</p>

<p>API user is <span id="root"/></p>
</body>
</html>